/*
 * SPDX-FileCopyrightText: 2019-2021 Tocqueville Group
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@import "~normalize-scss/sass/normalize/import-now";
@import "fonts";

* {
  box-sizing: border-box;
  color: var(--contrast-color-1);
  font-family: "Roboto", sans-serif;
}

html,
body {
  min-width: 360px;
}

[data-theme="light"] {
  --base-color-1: #fff;
  --base-color-2: #f4f8fe;

  --contrast-color-1-rgb: 14, 21, 26;
  --contrast-color-1: rgb(var(--contrast-color-1-rgb));
  --contrast-color-2-rgb: 18, 50, 98;
  --contrast-color-2: rgb(var(--contrast-color-2-rgb));
  --contrast-color-3: #323c47;
  --contrast-color-4: rgba(14, 21, 26, 0.5);
  --contrast-color-5: rgba(9, 9, 64, 0.15);
  --contrast-color-6: rgba(8, 35, 48, 0.25);

  --accent-color-1: #172df3;
  --accent-color-2: #2c7df7;
  --accent-color-3: #4c5862;
  --accent-color-4: #5c6ff8;
  --accent-color-5: #76828b;
  --accent-color-6: #864afc;
  --accent-color-7: #2c7df7; /** duplicate */
  --accent-color-8: rgba(54, 123, 245, 0.2);
  --accent-color-9: #e9f2ff;

  --flat-color-1: #a2a2a2;
  --flat-color-2: #123262; /** duplicate */
  --flat-color-3: #ebeff2;
  --flat-color-4: #d1dae0;
}

[data-theme="dark"] {
  --base-color-1: #1d2227;
  --base-color-2: #272b31;

  --contrast-color-1-rgb: 227, 228, 229;
  --contrast-color-1: rgb(var(--contrast-color-1-rgb));
  --contrast-color-2-rgb: 131, 136, 147;
  --contrast-color-2: rgb(var(--contrast-color-2-rgb));
  --contrast-color-3: #e3e4e5;
  --contrast-color-4: #e3e4e5;
  --contrast-color-5: #505561;
  --contrast-color-6: rgba(8, 35, 48, 0.25);

  --accent-color-1: #408dff;
  --accent-color-2: #408dff;
  --accent-color-3: #e3e4e5;
  --accent-color-4: #f6f8fa;
  --accent-color-5: #e3e4e5;
  --accent-color-6: #864afc;
  --accent-color-7: #2c7df7;  /** duplicate - remove */
  --accent-color-8: rgba(54, 123, 245, 0.2);
  --accent-color-9: #1e2c3d;

  --flat-color-1: #e3e4e5;
  --flat-color-2: #123262;  /** duplicate - remove */
  --flat-color-3: #505561;
  --flat-color-4: #505561;
}

.app {
  color: var(--contrast-color-1);
}

img {
  display: block;
}

body {
  background-color: var(--base-color-2);
  overflow-y: scroll;
}
