/*
 * SPDX-FileCopyrightText: 2023 Tezos Commons
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.container {
  cursor: pointer;
  width: 65px;
  height: 20px;
  margin-top: 9px;
  svg {
    float: left;
  }
}

@media only screen and (max-width: 768px){
  .container {
    margin-bottom: 20px;
  }
}

.slider_container {
  width: 35px;
  height: 20px;
  border-radius: 50px;
  float: left;
}

[data-theme="dark"] .slider_container {
  background-color: #FFFFFF;
}

[data-theme="light"] .slider_container {
  background-color: var(--accent-color-1);
}

.slider {
  position:relative;
  top: 1.5px;
  width: 18px;
  height: 17px;
  border-radius: 25px;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' style=''%3E%3Cpath fill='transparent' stroke-width='2' d='M35 20 A 15 15 0 0 0 60 60 M35 20 A 28 28 0 0 0 60 60' stroke='white'%3E%3C/path%3E%3Cpolygon fill='white' transform='translate(5  0) scale(0.7)' stroke='white' stroke-width='1' points='50 40 65 38 67 23 69 38 84 40 69 42 67 57 65 42 50 40'%3E%3C/polygon%3E%3Cpolygon fill='white' transform='translate(35  30) scale(0.4)' stroke='white' stroke-width='1' points='50 40 65 38 67 23 69 38 84 40 69 42 67 57 65 42 50 40'%3E%3C/polygon%3E%3C/svg%3E");
}


[data-theme="dark"] .slider {
  background-color: var(--accent-color-1);
  left: 16px;
}

[data-theme="light"] .slider {
  background-color: #FFFFFF;
  left: 2px;
}

