/*
 * SPDX-FileCopyrightText: 2019-2021 Tocqueville Group
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.majorityGraph {
  display: flex;
  flex-direction: column;
  > svg {
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }

    line {
      fill: var(--contrast-color-2);
    }

    text {
      fill: var(--contrast-color-2);
    }
  }

.graphContainer {
  position: relative;
  height: 24px;
  animation: expandWidth 0.5s forwards;
  animation-timing-function: ease-in-out;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 12px;
  background-color: var(--accent-color-9);
  }

.caption {
  text-align: right;
  color: var(--contrast-color-2);
  margin-bottom: 15px;
  font-weight: 600;
  opacity: 0.5;
  font-size: 17px;
}

.chevron {
  border-style: solid;
  border-width: 3px 3px 0 0;
  border-color: var(--contrast-color-1);
  content: '';
  display: inline-block;
  height: 0.45em;
  position: absolute;
  top: 18px;
  transform: translateX(-0.22em) rotate(135deg);
  vertical-align: top;
  width: 0.45em;
}

@keyframes expandWidth {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}

.graphBar {
  position: absolute;
  height: 24px;
  }

.graphBar:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  }

.graphBar:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  }
}
