/*
 * SPDX-FileCopyrightText: 2019-2021 Tocqueville Group
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */



.bakers__showAllButton {
  border: none;
  background: transparent;
  max-width: 200px;
  color: var(--accent-color-2);
  font-weight: bold;
  margin-top: 1.5rem;
  outline: none;
  cursor: pointer;
}
