/*
 * SPDX-FileCopyrightText: 2019-2021 Tocqueville Group
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */



.proposalStage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 20px;

  img {
    margin: 0 1rem;
  }
}

.proposalStage__indicator {
  height: 100%;
  line-height: 40px;
  border-radius: 4px;
  padding: 0 1rem;
  text-decoration: none;

  &_selected {
    color: var(--accent-color-2);
  }

  &_disabled {
    opacity: 0.4;
  }
}

.proposalStage__projection {
  font-size: 10px;
  padding: 0 1rem;
}
