/*
 * SPDX-FileCopyrightText: 2019-2021 Tocqueville Group
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */



.list__header {
  display: flex;
}

.list__header__upvotes {
  margin-left: auto;
}

.list__item {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-bottom: 2.25rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.list__item__upvotes {
  position: relative;
  float: right;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-left: 1rem;
}

.list__item__upvotes__title, .list__item__name {
  color: var(--contrast-color-1);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.list__item__upvotes__title {
  margin-bottom: 0.5rem;
  text-decoration: none;
}

.list__item__upvotes__grpah {
  margin: 1rem 0;
}

.list__item__upvotes__value {
  cursor: pointer;
  user-select: none;
}

.list__item__title {
  margin-top: 12px;
  margin-bottom: 4px;
  font-size: 22px;
  line-height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  cursor: pointer;
}

.list__item__description {
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 20px;
  opacity: 0.5;
  color: var(--contrast-color-1);
}

.list__item__hash {
  margin-top: 0.5rem;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  span {
    color: var(--accent-color-3);
  }
}

.list__item__resubmission {
  text-transform: none;
}

.list__item__buttons {
  display: flex;
  margin-top: 1.5rem;
  line-height: 28px;
  > a {
    display: flex;
    align-items: center;
    color: var(--accent-color-2);
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1.3px;
    text-decoration: none;
    margin-right: 1.5rem;
    text-transform: uppercase;
    white-space: nowrap;

    svg {
      margin-right: 8px;
    }
  }
}

@media only screen and (min-width: 850px) {
  .list__item__info {
    display: flex;
    flex-direction: row-reverse;
  }

  .list__item__upvotes {
    justify-content: center;
    margin-right: 3rem;
    cursor: pointer;
  }

  .list__item__main {
    flex: 1;
  }
}
