/*
 * SPDX-FileCopyrightText: 2019-2021 Tocqueville Group
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */



.proposalDetails {
  display: flex;
  * {
    color: rgba(var(--contrast-color-2-rgb), 0.5);
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.proposalDetails__titles,.proposalDetails__values {
  > div {
    padding: 0.75em 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.proposalDetails__titles {
  white-space: nowrap;
  margin-right: 5rem;
}

.proposalDetails__values {
  overflow: hidden;
  >div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
