/*
 * SPDX-FileCopyrightText: 2019-2021 Tocqueville Group
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */



.proposalTimeTracker {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.proposalTimeTracker__caption {
  margin: 1px 0.5rem 0;
  color: var(--accent-color-5);
  width: max-content;
}

.proposalTimeTracker__circles {
  display: flex;
  align-items: center;
}

.proposalTimeTracker__circle {
  min-width: 1rem;
  height: 1rem;
  margin: 0 5px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.proposalTimeTracker__circle__fill {
  top: 0;
  bottom: 0;
  right: 0;
  background: var(--base-color-1);
  display: block;
  position: absolute
}

.proposalTimeTracker__circle_current {
  border: 2px solid var(--accent-color-1);
  background: var(--accent-color-1);
}

.proposalTimeTracker__circle_filled {
  background: var(--accent-color-1);
}

.proposalTimeTracker__circle_empty {
  border: 2px solid var(--contrast-color-4);
}
