/*
 * SPDX-FileCopyrightText: 2019-2021 Tocqueville Group
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */



.recentVotes__item {
  margin-bottom: 1.5rem;
  &__main {
    display: flex;
    justify-content: space-between;
  }
  &__author {
    display: inline-block;
    font-size: 1.25em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--contrast-color-3);

    &_no_name {
      cursor: pointer;
    }
  }

  &__operation {
    margin-top: 0.5rem;
    font-size: 0.875em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--contrast-color-3);
    //min-width: 300px;
    > span {
      color: var(--contrast-color-4);
    }
  }

  &__vpower {
    display: inline-block;
    float: right;
    font-size: 1.25em;
    font-weight: bold;
    text-align: right;
    margin-left: 1rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.recentVotes__header {
  display: flex;

  > div:last-child {
    margin-left: auto;
  }
}
