/*
 * SPDX-FileCopyrightText: 2019-2021 Tocqueville Group
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.button {
  border-radius: 4px;
  box-shadow: 0 4px 10px 0 rgba(var(--accent-color-7), 0.24);
  background-color: var(--accent-color-1);
  border: none;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--base-color-1);
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  padding: 1em 5em;

  &:hover {
    box-shadow: 0 4px 10px 0 rgba(var(--accent-color-7), 0.24);
    background-color: var(--accent-color-4);
  }

  &:active {
    box-shadow: 0 4px 10px 0 rgba(var(--accent-color-7), 0.24);
    background-color: var(--accent-color-1);
  }
}
